@model List<Product>

@{
    ViewBag.Title = "Catalog";
}
<div class="jumbotron">
    <h1 class="header">This is the Catalog</h1>
    <div class="content">
        @foreach (Product c in Model)
        {
            @Html.Partial("~/Views/_CatalogPartial.cshtml", @c);
        }
    </div>
    @Html.ActionLink("Cart", "ViewCart", new { id = 0 })
</div>

