@model List<Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CatalogPage</title>
</head>
<body>
    <div>
        <h1>This is the Catelog</h1>
        @foreach (Product c in Model)
        {
            @Html.Partial("~/Views/_CatalogPartial.cshtml", @c);
        }
        @Html.ActionLink("Cart", "ViewCart", new { id = 0 })
    </div>
</body>
</html>

