@using DigiDepot.ViewModels
@model CartViewModel
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Checkout</h2>
</div>
<div>
    @foreach (KeyValuePair<int, int> k in Model.ItemDictionary)
    {
        @Html.Partial("~/Views/_CheckoutPartial.cshtml", @Model.getProductModel(k.Key));
    }
    <p><a href="/Catalog/CheckBilling" class="btn btn-primary btn-lg">Confirm Purchase &raquo;</a></p>

</div>