@model Cart

@{
    ViewBag.Title = "ShowProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <h1>The Cart Id is @Model.Id</h1>
        @*@foreach (Product p in Model.ItemsInCart)
        {
            @Html.Partial("~/Views/_CartContentsPartial.cshtml", @p);

        }*@
    </div>