@model Cart

@{
    ViewBag.Title = "ShowProduct";
}
<div class="jumbotron">
    <h1>The Cart Id is @Model.Id</h1>
    @*@foreach (Product p in Model.ItemsInCart)
    {
        @Html.Partial("~/Views/_CartContentsPartial.cshtml", @p);

    }*@
</div>