@model Cart

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowProduct</title>
</head>
<body>
    <div>
        <h1>The Cart Id is @Model.CartID</h1>
        @*@foreach (Product p in Model.ItemsInCart)
        {
            @Html.Partial("~/Views/_CartContentsPartial.cshtml", @p);

        }*@
    </div>
</body>
</html>
