@model DigiDepot.User

@{
    ViewBag.Title = "Login";
}

<div class="jumbotron"><h2>Login</h2></div>


<div >
    @using (Html.BeginForm())
    {
        <div >
            @Html.ValidationSummary()
        </div>
        <br />

        <div >
            <label>
                User Name:
            </label>
            @Html.TextBoxFor(x => x.user_name)
        </div>
        <br />

        <div >
            <label>
                Password:
            </label>
            @Html.TextBoxFor(x => x.password)
        </div>
        <br />

        <div class="btn">
            <input type="submit" value="Finish" />
        </div>
    }
</div>