@model DigiDepot.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div class="Invitation">
    @using (Html.BeginForm())
    {
        <div class="ValidationView">
            @Html.ValidationSummary()
        </div>
        <br />

        <div class="InputInformation">
            <label>
                User Name:
            </label>
            @Html.TextBoxFor(x => x.user_name)
        </div>
        <br />

        <div class="InputInformation">
            <label>
                Password:
            </label>
            @Html.TextBoxFor(x => x.password)
        </div>
        <br />

        <div class="btn">
            <input type="submit" value="Finish" />
        </div>
    }
</div>