@model List<Product>

@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="header">Catalog</h2>
<div class="content">
    @foreach (Product pro in Model)
    {
        <div class="ProductItem">
            <img src=@pro.PicLocation/>
            @Html.ActionLink(pro.Name, "CatalogPage", "Catalog")
        </div>
    }
</div>