@model List<Product>

@{
    ViewBag.Title = "Catalog";
}
<div class="jumbotron">
    <h2>Catalog</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (Product pro in Model)
            {
                <li>
                    <img src=@pro.PicLocation />
                    @Html.ActionLink(pro.Name, "CatalogPage", "Catalog")
                </li>
            }
        </ul>
    </div>
</div>