
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="header">Home</h2>
<div class="content">
    Digi Depot is the premier stop and shop for the every day Computer enthusiast.
    
</div>