@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
<div class="jumbotron">
    <h2>Welcome to DigiDepot!</h2>
    <p>Browse our store for a wide variety of high quality computer parts and electronics</p>
    <p><a href="" class="btn btn-primary btn-lg">Browse the store &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-6 text-center">
        <h2>What's new?</h2>
        <p>The most recently added products go here...</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-6 text-center">
        <h2>Hot deals</h2>
        <p>Products on sale go here...</p>
        <p><a class="btn btn-default" href="">Check it out &raquo;</a></p>
    </div>

</div>