@model DigiDepot.User

@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="header">UserPage</h2>

<div class="Information">
    @Model.user_name
</div>

<div class="Information">
    @Model.e_mail_address
    <br />
    @Html.ActionLink("Edit", "EmailEdit", new { id = Model.Id})
</div>
<div class="Dangerous">
    @Html.ActionLink("Delete Acount", "AccountDelete", new { id = Model.Id })
</div>